/*============    ШРИФТЫ    ===========*/
/*============    Шрифты    ===========*/
@font-face {
  font-family: 'JB';
  src: url('../fonts/reg/Jazz_Ball_Regular.eot') format('embedded-opentype');
  src: url('../fonts/reg/Jazz_Ball_Regular.ttf') format('truetype'), url('../fonts/reg/Jazz_Ball_Regular.woff2') format('woff2'), url('../fonts/reg/JazzBall.svg') format('svg'), url('../fonts/reg/JazzBall.woff') format('woff');
}
@font-face {
  font-family: 'JBb';
  src: url('../fonts/bold/Jazz_Ball_Regular.eot') format('embedded-opentype');
  src: url('../fonts/bold/Jazz_Ball_Regular.ttf') format('truetype'), url('../fonts/bold/Jazz_Ball_Regular.woff2') format('woff2'), url('../fonts/bold/JazzBall.svg') format('svg'), url('../fonts/bold/JazzBall.woff') format('woff');
}
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0px;
  padding-right: 0px;
}
body {
  margin-top: 15px;
  background: url(../img/522.png);
  background-attachment: fixed;
}
.main-head {
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  -moz-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  background-color: #feeaeb;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-family: "JB";
  text-align: center;
  text-transform: uppercase;
}
.main-head h1 {
  margin-top: 10px;
}
.main-head h1 span {
  color: #6610f2;
}
.image {
  height: 200px;
  width: 200px;
  border-radius: 180px;
  border: 1px solid #000;
  margin-top: 10px;
  margin-bottom: 10px;
}
.mark,
.ma {
  background-color: #feeaeb;
}
/* basic styles for black background and crosshair cursor */
a {
  color: #e23a3a;
  text-transform: uppercase;
  text-decoration: none;
}
h2 {
  margin-bottom: 0px;
}
/*============    ГЛАВНЫЙ ЭКРАН    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ШРИФТЫ    ===========*/
/*============    ПОДВАЛ    ===========*/
/*============    	ВСПЛЫВАЮЩИЕ ОКНА    ===========*/
/*============    	АДАПТИВ    ===========*/
